/*
======================
Abetal.cl

@author: Luis Ponce
@website: luisponce.cl
03/10/2018
24/10/2018


Order & contents

1. Flexslider CSS
2. Website CSS
3. Responsive CSS

*/

/*
==================================
1. LOGIN

Estilos aplicados para el login.
==================================
*/
html, body{height: 100%; font-family:'Roboto', Arial, Arial, Helvetica, sans-serif;}
body{font-family: 'Roboto', sans-serif;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-color: #f2f2f2;}
.login{background-color:#58b957; background-image: url(../images/bg.jpg);background-size: cover; background-repeat: no-repeat; height: 100%;}
.login .contenido{padding-top:10%; width:100%; height: 100%; position: relative; overflow: hidden;}
.login-box{max-width:320px; margin:auto;background-color:white;border-radius:6px;padding:20px 30px;-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);}
.login-box h1{font-weight:bold;color:black;font-size:18px;text-transform:uppercase;display:block;text-align:center;margin-bottom:30px;}
.login-box input.usuario,
.login-box input.pass{display:block; width:100%; border:none; background-color:white; padding:14px 8px; border:1px solid #ccc; border-radius:3px; height: 44px;}
.login-box input[type="submit"]{display:block; width:100%; background-color:#58b957;color:white; padding:14px; text-align:center;border-radius:3px;border:none; text-transform:uppercase; letter-spacing:0.2px; margin-top:40px; font-size:12px;font-size:14px; font-weight: bold;}
.login-box input[type="submit"]:hover{background-color:black;}
.col-center{text-align: center;}
.login .col-center{margin-top:10%;}
.logo-login{margin-bottom: 20px;}
.input-group{margin-bottom:15px;}
.input-group-addon{padding: 6px 10px;}
.input-group-addon i{font-size:20px;}
.input-group:first-child{margin-bottom:10px;}
#form1{height:100%;}
/*
==================================
2. NAVBAR

Estilos aplicados para la barra superior.
==================================
*/
.navbar{border-radius:0px;min-height:65px;}
    .navbar .container-fluid,
    .navbar-header,
    .navbar-inverse .navbar-brand {
        height: 65px;
    }
.navbar-inverse{border:0px;}
.navbar-inverse .navbar-brand {
    background-color: #58b957;
}
    .navbar-inverse .navbar-brand:hover {
        background-color: #58b957 !important;
    }
.navbar-brand{padding-left:25px;}
.navbar-inverse .navbar-brand:hover img {
    opacity: 0.8;
}
.navbar-header {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}
.navbar-nav {
    float: left;
    margin: 0;
    width: 100%;
    padding-left: 180px;
    height: 65px;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
    width: auto;
    padding-left:0px;
}
    .navbar-right .nombre-usuario span{
        color: White;
        font-size: 12px;
        padding-right: 10px;
        padding-top: 19px;
        line-height: 13px;
        display: block;
        text-align: left;
    }

.navbar-nav > li{
    height:100%;
}
.navbar-nav > li a{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
    .navbar-nav > li a::before,
    .glypicon::before {
        font-family: 'Glyphicons Halflings' !important;
        margin-right: 5px;
        font-size: 19px;
        float: left;
        margin-top: -2px;
    }
    .navbar-nav > li > a{
        height:64px;
        padding-top:20px;
    }
.nav > li > a{
    font-size:14px;
    padding-top:23px !important;
}
.caret{
    margin-left:8px;
}
.navbar-right li a{background-color:#d44841; padding-left:20px; padding-right:20px; color:white !important;}
    .navbar-right li a:hover{background-color:#d44841 !important; opacity:0.8;}
    .navbar-right li .glyphicon {
        margin-right: 10px;
    }
body{
    background-color:white;
}
.navbar-brand > img{margin-top:4px;}
.navbar-inverse .navbar-nav > li > a{padding-left:10px;padding-right:10px;}
















.hola {
}
    /*
==================================
3. RESPONSIVE
==================================
*/
    @media (min-width: 768px) {
    }
@media (max-width: 1140px){
    .navbar-header{position:inherit; display:block; text-align:center;float:inherit;}
    .navbar-header .navbar-brand{float:inherit; background-color:inherit;}
    .navbar-brand > img{margin:auto;}
    .navbar-nav {
        float: inherit;
        margin: 0;
        width: 100%;
        padding-left: inherit;
        height: 65px;
        text-align: center;
    }
    .navbar-right{width:auto !important;margin-right:-15px;}
}
@media (max-width: 992px){
    .nav > li > a {
        font-size: 12px;
        padding-left: 0px !important;
        padding-top:20px !important;
    }
    .navbar-nav,
    .navbar-nav > li > a {
        height: 55px;
    }
    .navbar-right li a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
@media (max-width: 870px) {
    .navbar-nav > li a::before, .glypicon::before{
        display:none;
    }
}
    @media only screen and (max-width:768px) {
    }

    @media only screen and (max-width:480px) {
    }
